<% layout("/layouts/boilerplate") -%>
<body>
    <h1>All Listings</h1>
    <ul>
        <% for(listing of listings){ %>
            <li>
                <a href="/listings/<%= listing._id %>"><%= listing.title %></a>
            </li>
        <% } %>
    </ul>

    <a href="/listings/new">Create New Listing</a>
    <!-- <footer>
        <p>&copy; 2023 EasyStay</p>
    </footer> -->
</body>
