<% layout("/layouts/boilerplate") -%>
    <div class="row">
        <div class="col-8 offset-2">
            <br></br>
            <h3>Create New Listing</h3>
            <br>
            <form method="POST" action="/listings"  class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <input class="form-control" type="text" id="title" name="title" required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <textarea class="form-control" id="description" name="description" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image:</label>
                    <input class="form-control" id="image" name="image" placeholder="Enter url/link"></input>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="price" class="form-label">Price:</label>
                            <input class="form-control" type="number" id="price" name="price" required>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="mb-3">
                            <label for="country" class="form-label">Country:</label>
                            <input class="form-control" type="text" id="country" name="country" required>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location:</label>
                    <input class="form-control" type="text" id="location" name="location" required>
                </div>

                <br>
                <br>
                <button class="btn btn-dark" type="submit">Create Listing</button>
            </form>
        </div>
    </div>